@model The_New_Paradise.Models.Customer_Cart

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer_Cart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Total_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Customer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Customer_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
